@font-face {
  font-family: "SeoulNamsanM";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/SeoulNamsanM.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "SeoulNamsanM";
  margin: 0px;
}

.mb-4 {
  margin-top: 20px;
}

.lgbtn {
  margin-top: 20px;
  float: right;
}

.rgbtn{
  float: right;
}

.start {
  opacity: 0;
}

.end {
  opacity: 1;
  transition: opacity 0.5s;
}

div {
  box-sizing: border-box;
}

.ment {
  font-size: 30px;
  color: black;
  font-weight: bold;
}

.under-button-content {
  width: 100%;
  position: absolute;
  bottom: 100px;
  display: flex;
  justify-content: space-around;
}

.btn1 {
  width: 70%;
}

.logo {
  width: 60%;
  padding-top: 30%;
}

.App {
  text-align: center;
  /* background-image: url("/public/img/taxi_bg.jpg"); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: -300px;
  height: 101vh;
}

.main-login{
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50%;
  text-align: center;
}

.main-login{
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50%;
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
